<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aivie.aivie.user">

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.icf.SignatureActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.icf.IcfActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.account.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.account.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".presentation.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>